<div class="container-fluid">

  <div class="row bg-color pt-5 d-flex align-items-center">
    <div class="col-md-6">

      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-white">
          <h1 class="fs-54">Sistema de Controle de Pacientes</h1>
          <h4>Cadastre aqui informações sobre os pacientes</h4>
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6">
          <button class="btn btn-light mr-5" routerLink='/form-cadastro' data-bs-target="#novoPaciente"> <i class="fa fa-plus" aria-hidden="true"></i> Novo Paciente</button>
          <a class="btn btn-light" href="#pacientes">Cadastros</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 justify-content-center">
      <img src="https://i.imgur.com/6NJMP0Z.png" alt="Médica segurando uma prancheta" width="500px" height="500px">
    </div>

  </div>
</div>


<div class="container mb-5 mt-5" id="pacientes">

  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

      <button class="nav-link active text-secondary font-weight-bold" id="nav-todosPacientes-tab" data-bs-toggle="tab" data-bs-target="#todosPacientes" type="button" role="tab" aria-controls="nav-todosPacientes" aria-selected="true">Pacientes Cadastrados</button>

    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="todosPacientes" role="tabpanel" aria-labelledby="nav-todosPacientes-tab">

      <div class="card-columns mt-5">

        <div class="card" *ngFor='let item of listaPacientes'>
          <div class="card-body">
            Nome do Paciente: {{item.nome}} {{item.sobrenome}} | Prontuário nº {{item.numeroProntuario}}
            <div class="d-flex justify-content-end">
              <a href="#" class="btn btn-primary" [routerLink]="['/paciente-edit', item.id]">Ver ou Editar</a>
            </div>

          </div>
        </div>
      </div>


    </div>
</div>
</div>








